
.no_favs_block {
  max-width: 50rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  > *:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.no_fav_ico {
  width: 30rem;
  height: 30rem;
  background: rgba(#fff, .15);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  margin-left: auto;
  margin-right: auto;

  img, svg {
    max-width: 20rem;
    max-height: 20rem;
  }
}

.title {
  color: #fff;
  font-size: 2.8rem;
}